/* Personal Portfolio - Kristof Kiraly - 2023 */

:root {
  background-color: black;
}

body {
  background-color: black !important;
  color: #ffffff !important;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/* Navbar */

.Navbar {
  font-family: 'Helvetica Neue 700', sans-serif;
  background-color: #000000;
  color: #fff;
  padding: 0;
  margin-bottom: 24px;
  overflow-x: hidden;
}

@keyframes FadeInTitle {
  from {opacity: 0;}
  to {opacity: 1;}
}

.Hero_Title {
  background-color: #000000;
  color:#f7f7f7;
  animation: FadeInTitle 7s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}

.Top_Divider_Logo {
  height: 2px;
  width: 725px;
  background-color: #029680bf;
  border-radius: 90%;
  transition: all .33s ease-in-out;
}

header:hover .Top_Divider_Logo {
  background-color:  #00f5d0;
  box-shadow: 0px 0px 5px 3px #00907b;
}

.navbar-nav:focus .nav-link button, .navbar-nav:hover .nav-link button {
  color: #767676;
}

.nav-link button {
  font-family: 'Helvetica 65 Medium 700', sans-serif;
  color: #fff;
  text-decoration: none;
}

.nav-link:focus button, .nav-link:hover button {
  color:#fff !important;
  text-decoration: none;
}

@keyframes SlideUpFromBottom {
  from {padding-top: 100vh;}
  to {padding-top: 0;}
}

#SlideUpFromBottom {
  animation: SlideUpFromBottom 4s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}

@keyframes FadeInNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

.FadeInNav {
  animation: FadeInNav 7s cubic-bezier(.53,.54,0,1);
  animation-iteration-count: 1;
}



/* Hero Content */

.HeroScroll {
  overflow-x: hidden; 
  display: block;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  overflow-y: scroll;
}

.HeroContent {
  color:#000000;
  height: calc(100vh - 10rem);
  max-height: 100%;
  max-width: 100%;
  background-image: radial-gradient(circle, #f0f1f5, #e9eaee, #e3e4e8, #dcdde1, #d6d7db, #cfd0d4, #c9cace, #c2c3c7, #bababf, #b2b2b6, #aaa9ae, #a2a1a6);
  transition: all .66s ease-in-out;
}

#Projects {
  height: 897px;
}

#ProfilePic {
  font-size: 16px;
  max-width: 30em;
  max-height: 30em;
}

.ContentDivider {
  background-image: radial-gradient(circle, #ffffff, #fbfbfb, #f7f7f7, #f4f4f4, #f0f0f0, #ebebeb, #e6e6e6, #e1e1e1, #dadada, #d2d2d2, #cbcbcb, #c4c4c4);
  height: 3px;
  width: 100%;
  box-shadow: 0px 0px 20px 2px #000000;
}

.HeroIntroBaseBar {
  height: 2px;
  width: 26rem;
  max-width: 70vw;
  background-color: #0a3730bf;
  border-radius: 90%;
  box-shadow: 0px 0px 10px 2px #31cfb7bf;
  transition: all .33s;
}

.row:hover .HeroIntroBaseBar{
  background-color:  #00f5d0c9;
  box-shadow: 0px 0px 15px 2px #01ecc9ac;
}

.list-inline-item {
  margin-left: 7px;
}

.HeroContent .list-inline-item a {
  display: inline-block;
  color: #000000;
  width: 32px;
  height: 32px;
}

.list-inline-item svg {
  border-radius: 10px;
  transition: all .15s ease-in-out;
}

.list-inline-item svg:hover {
  color: #01ecc9ac;
  transform: scale(1.05);
}

#Expand svg {
  display: block;
  margin: auto;
  color: #000000;
  transition: all .4s ease-in-out;
}

#Expand svg:hover {
  color: #000000;
  border-radius: none;
  background-color: transparent;
  transform: scale(1.3);
}

.carousel-control-prev {
  color: #000000;
}

.carousel-control-prev svg:hover {
  background-color: #000000;
  border-radius: 11px;
  box-shadow: 0px 0px 10px 3px #01ecc9ac;
}

.carousel-control-next {
  color: #000000;
}

.carousel-control-next svg:hover {
  background-color: #000000;
  border-radius: 11px;
  box-shadow: 0px 0px 10px 3px #01ecc9ac;
}

#carouselExampleControls {
  max-width: 70vw;
}

@media (max-width:991.98px) {

  #carouselExampleControls {
    max-width: 100vw;
  }
  footer .list-inline-item {
    margin-left: 0px;
  }

}

@media (max-width:767.98px) {

  .HeroContent {
    height: calc(100vh - 89.6px);
  }
  #Projects {
    height: calc(80vh);
  }

}

@media (max-width:575.98px) {

  .HeroContent {
    height: calc(80vh - 89.6px);
  }
  .display-1 {
    font-size: calc(1rem + 4vw) !important;
  }
  .SocialIcons {
    transform: scale(0.75) !important;
  }
  .lh-base {
    font-size: calc(.5rem + .75vw) !important;
  }
  #Expand {
    transform: scale(0.3) !important;
  }
  #Projects {
    height: calc(80vh);
  }
  .carousel-control-prev {
    transform: scale(0.5);
  }
  .carousel-control-next {
    transform: scale(0.5);
  }
  footer .list-inline-item {
    text-align: left !important;
  }

}

@media (max-width: 526.98px) {
  #ProfilePic {
    max-width: 18em;
    max-height: 18em;
  }
}



/* Footer */

footer {
  overflow-x: hidden; 
  color: #767676;
}

footer:hover, footer:hover a {
  color: #ffffff;
}

footer:hover svg {
  color: #ffffff;
}

footer a {
  color: #767676;
  text-decoration: none;
}

footer a:hover {
  color: #01ecc9ac;
}

@media (min-width:1444.95px) {
  #Contact1445Align {
  text-align: end !important;
  padding-right: 152px;
  }
  #ContactIcons1445Align {
    justify-content: end !important;
  }
}

.Altcademy {
  transition: 0.3s all ease-in-out;
}

.Altcademy:hover svg, 
.Altcademy:active svg {
  filter: drop-shadow(0 0 5px #1647fb);
}